<style>
lohomepgg{

}

    body{
        margin: 0;
        padding: 0;
    }
    .nav{
    background-color: white);
    }

    .logo{
    color: burlywood;
    margin: auto;
    margin-left: 20px;
    font-family: 'Sen', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    }
    .logo, .menu{
    display: inline-block;
    }
    .menu{
    float: right;
    }
    .menu ol{
    list-style: none;
    padding: 0px;
    margin: 0px;
    }

    .menu ol li{
    display: inline-block;
    padding: 0px;
    margin-top: 21px;
    margin-bottom: 31px;
    margin-right: 10px;
    margin-left: 10px;
    }

    .menu ol li a{
    text-decoration: none;
    color: rgb(222, 184, 135);
    padding-top: 21px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Sen', sans-serif;
    font-size: 14pt;
    }

    .menu ol li a:hover{
    background-color: burlywood;
    transition: all 0.5s ease;
    color: white;
    }

    header{
        background:  url(images/coffee.jpg);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header p{
        margin: 0px;
    }

    .container{
        text-align: center;
        color: white;
        padding-top: 150px;
        font-family: 'Sen', sans-serif;
    }

    .positions_button{
        display: inline-block;
        background-color: white;
        color: burlywood;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        padding-left: 25px;
        font-weight: bold;
        border-radius: 20px;
    }

    .container a{
        text-decoration: none;
    }

    .container a:hover{
        background-color: burlywood;
        color: white;
        transition: all 0.5s ease;
    }
    
    #bandr{
        font-size: 30pt;
        font-weight: bold;
    }

    #hiringnow{
        font-size: 60pt;
        background: red;
        margin-left: 300px;
        margin-right: 300px;
    }
    .about_us{
        text-align: center;
        font-family: 'Sen', sans-serif;
        margin-top: 70px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .pictures{
        width: 250px;
        height: 250px;
        border-radius: 250px;
        margin: 50px;
        margin-left: 100px;
    }

    .pics{
        display: inline;
    }

    .contactpage{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/coffee_1.jpg'); 
        height: 500px;
        background-size: cover;
        margin-top: 40px;
    }
     
    .work1{
        text-align: center;
        color: white;
        font-family: 'Sen', sans-serif;
        font-size: 45pt;
        margin-top: 0px;
        padding-top: 150px;
    }

    #call{
        font-size: 15pt;
        margin-top: 50px;
    }

    .buttonwork{
        font-size: 15pt;
        text-decoration: none;
        color: burlywood;
        background: white;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
        border-radius: 120px;
    }

    .buttonwork:hover{
        background-color: burlywood;
        color: white;
        transition: all 0.5s ease;
    }

    .lstpage{
        background-color: white;
        padding: 50 px;
        margin-top: 15px;
        text-align: center;
    }

    .lstpage p{
        display: inline;
        padding: 15px;
        align-items: center;
        font-family: 'Sen', sans-serif;
    }






</style>